:root {
    --primary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --title-text-color: #212121;

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;

    --accent-color: #2196f3;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Container */

.container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    /* outline: 2px solid red;
    background-color: coral; */
}

/* Styles for main page */

.logo {
    color: var(--title-text-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.accent {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.link {
    color: var(--title-text-color);

    text-decoration: none;
}

/* Header links  */
.nav,
.nav-list,
.contact-list {
    display: flex;
    align-items: center;
}
.nav-list {
    padding: 0;
    margin: 0;
    margin-left: 90px;
}
.contact-list {
    margin-left: auto;
    padding: 0;
}
.contact-item + .contact-item {
    padding-left: 50px;
}

.nav-item {
    display: flex;
    align-items: center;
}
.nav-item a {
    display: flex;

    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-item + .nav-item {
    padding-left: 50px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.nav-link.current {
    color: var(--accent-color);
}
.nav-link,
.contact-link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact-list a {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/* Hero section  */
h1 {
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-bg-color);
    text-align: center;
    height: 600px;
}
.hero-title {
    width: 696px;
    margin-bottom: 30px;
    color: var(--secondary-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);

    display: flex;

    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;
}

.hero-button:focus,
.hero-button:hover {
    background-color: #188ce8;
}

/* Advantages section  */

.advantages-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 94px;
}

.advantages-item + .advantages-item {
    padding-left: 30px;
}
.advantages-item-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
/* Ocupation section  */
.ocupation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ocupation-title {
    display: flex;
    margin: 0 auto;
    margin-top: 94px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.ocupation-list {
    display: flex;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-bottom: 94px;

    justify-content: space-between;
}
.ocupation-item-title {
    display: flex;
}
.ocupation-item-title + .ocupation-item-title {
    padding-left: 30px;
}
/* Team section */
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-container {
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--secondary-bg-color);
}
.team-title {
    display: flex;
    margin: 0 auto;
    margin-top: 94px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-list {
    display: flex;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 94px;

    justify-content: space-between;
}
.team-list img {
    display: block;
}
.team-item {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
    margin-left: 30px;
}
.team-item-title {
    margin: 0;
    margin-top: 30px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team-item-text {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Footer  */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer .logo {
    padding-top: 60px;
    padding-left: 0;
    margin-right: auto;
}

.footer {
    background-color: var(--footer-bg-color);
}
.footer-logo {
    color: var(--secondary-text-color);
}

/* Address  */
.address {
    margin-top: 20px;
    margin-bottom: 60px;
}
.address-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.address-item {
    margin: 0;
    padding: 0;
}
.address-item + .address-item {
    padding-top: 4.5px;
}

.address a {
    font-style: normal;
}

.address-link {
    color: rgba(255, 255, 255, 0.6);
}
.address-link-white {
    color: var(--secondary-text-color);
}

/* ====Styles for Portfolio page=================================================== */

.projects {
    display: flex;
    flex-direction: column;
}

.filter-list-item + .filter-list-item {
    padding-left: 8px;
}
.filter-list {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 94px;

    padding: 0;
}

.filter-button {
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;

    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;

    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 94px;
    justify-content: space-between;
}
.projects-list-item {
    display: flex;
    margin-bottom: 30px;
}
.projects-list img {
    display: block;
}

.projects-list-title {
    margin: 0;
    margin-top: 20px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
}

.projects-list-text {
    margin-top: 4px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    padding-left: 24px;
}
.projects-list a {
    text-decoration: none;
    /* color: inherit; */
}
